@images-path: '../../dist/assets/images/';
@background: url("@{images-path}bg.jpg");

.app-main-container {
  overflow-y: auto;

  .app-title-text {
    margin-top: 0;
    padding-top: 1%;
  }

  text-align: center;
  background-image: @background;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
