<div class="register-container">
  <mat-card layout="column" class="register-card ">
    <form class="register-card-container">
      <mat-form-field class="register-full-width">
        <input matInput flex="100%" placeholder="User Name">
      </mat-form-field>

      <mat-form-field class="register-full-width">
        <input matInput placeholder="Password">
      </mat-form-field>

      <mat-form-field class="register-full-width">
        <input matInput placeholder="Confirm password">
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button mat-raised-button color="primary">Go!</button>
    </mat-card-actions>
  </mat-card>
</div>
