<button color="primary" mat-raised-button routerLink="/register">Go to Registration page</button>

<div class="auth-message-container">
  <b>{{authMessage}}</b>
</div>
<div class="login-container">
  <mat-card layout="column" class="login-card ">
    <form class="login-card-container">
      <mat-form-field class="login-full-width">
        <input (ngModelChange)="onChange()" [(ngModel)]="userName" matInput flex="100%" placeholder="User Name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="login-full-width">
        <input (ngModelChange)="onChange()" [(ngModel)]="password" matInput placeholder="Password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button (click)="login()" mat-raised-button color="primary">Go!</button>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-raised-button (click)="testData()" >Register</button>
{{test.id}} oo {{test.name}}
